.pa {
  line-height: 1.75em;
  margin-bottom: 1em;
  font-size: 14pt;
  font-weight: 300;
}

.he1 {
  color: #363636;
  font-weight: 700;
  font-size: 35pt;
}

.he2 {
  color: #363636;
  font-weight: 700;
}

.he3 {
  color: #363636;
  font-weight: 700;
}
