.base {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container {
  min-height: 100vh;
  position: relative;
  width: 90%;
  max-width: 900px;
}

.mainTitle {
  font-size: 25pt;
  color: black;
  text-decoration: underline #CF5F3A;
}

.footer {
  position: absolute;
  bottom: 20px;
}
